.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
}

.container:hover {
  cursor: pointer;
  background-color: grey;
  opacity: 0.75;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  color: #0e4298;
  display: flex;
}

.btn {
  height: 48px;
  padding: 0 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background-color: #87314e;
  border: 1px #87314e solid;
  opacity: 1;
  cursor: pointer;
}
